#faq_container
{
	border: 1px solid #ccc;
	border-radius: 16px;
}

#footer
{
	width:100%;
	margin-top:30px;
	padding:20px;
	color:#fff;
	background:#333;
}

#profil1
{
	padding:10px;
	border: 1px solid #ccc;
	border-radius: 16px;
	width:48%;	
	float:left;
}
#profil2
{
	padding:10px;
	border: 1px solid #ccc;
	border-radius: 16px;
	width:48%;	
	float:right;
	margin-top:-23px;
}

#tableprofil
{
	margin-top:530px;
}

#img
{	
	width:253px;
	height:159px;	
}

.descprom
{
	margin-top:-150px;
	float:right;
	margin-left:80px;
	width:350px;
	height:159px;
}

#container_promo
{
	display:inline-block;
	padding:10px;
	border: 1px solid #ccc;
	border-radius: 16px;
	margin-bottom:50px;
	max-height: 170px;
    overflow: hidden;
}

.promotit
{
	color:#777;
	font-weight:bold;	
	text-shadow: -1px 0 #111, 0 1px #111, 1px 0 #111, 0 -1px #111;
}

.alert
{
	border: 1px black solid;
	border-radius: 10px;
	padding: 10px;
	background-color: #f3AAAA;
	margin-bottom: 20px;	
}

.success
{
	border: 1px black solid;
	border-radius: 10px;
	padding: 10px;
	background-color: #AAf3AA;
	margin-bottom: 20px;	
}