hr {
	margin: 10px 0 20px 0;
}

figure {
	text-align: center;
}

figcaption {
	margin-top: 5px;
	font-size: 0.8rem;
	font-weight: 600;
}

dd {
	margin-bottom: 15px;
	text-align: justify;
}

dd > figure,
dd > figure:last-child {
	margin: 12px 0px;
}

pre {
	background-color: rgba(255, 236, 113, 0.2);
}

.mg-bot-16 {
	margin-bottom: 16px;
}

.text-red {
	color: red;
}

.text-blue {
	color: blue;
}

.text-fur {
	color: #3366d5;
}

.nav-tabs .nav-link { 
	background-color: lightskyblue;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-tabs .nav-link:not(:last-child) {
	border-right:1px solid lightgrey;
}

.card {
	margin-top: 10px;
	font-size: 14px;
}

.card-body ol,
.card-body ul {
	padding-left: 20px;
}

.card-body .no-margin {
	margin: 0px;
}

.card-body ul {
	margin-bottom: 12px;
}

.card-body ol > li {
	margin-bottom: 5px;
}

.card-header {
    background-color: rgba(103, 202, 247, 0.4);
    font-weight: 600;
}

.game-guide img {
	border: 1px solid lightgrey;
    padding: 2px;
    background: white;
}

.game-guide h2.title,
.game-guide h3,
.game-guide h5,
.game-guide p {
	margin-bottom: 16px;
	text-align: justify;
}

.content-guide {
	padding: 15px;
}

.web-game-guide {
	background-color: #F5F5F7;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #288BF8;
	color: #FFFFFF;
}