.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-bonus {
  width: 24px;
  height: 24px;
}

.icon-caret-down {
  width: 24px;
  height: 24px;
}

.icon-cashback {
  width: 24px;
  height: 24px;
}

.icon-chevron-down {
  width: 24px;
  height: 24px;
}

.icon-deposit {
  width: 24px;
  height: 24px;
}

.icon-game {
  width: 24px;
  height: 24px;
}

.icon-gift {
  width: 24px;
  height: 24px;
}

.icon-hamburger {
  width: 20px;
  height: 20px;
}

.icon-login {
  width: 24px;
  height: 24px;
}

.icon-logout {
  width: 24px;
  height: 24px;
}

.icon-mobile {
  width: 24px;
  height: 24px;
}

.icon-plus {
  width: 24px;
  height: 24px;
}

.icon-profile {
  width: 24px;
  height: 24px;
}

.icon-referral {
  width: 24px;
  height: 24px;
}

.icon-register {
  width: 24px;
  height: 24px;
}

.icon-transaction {
  width: 24px;
  height: 24px;
}

.icon-transfer {
  width: 24px;
  height: 24px;
}

.icon-withdraw {
  width: 24px;
  height: 24px;
}

